<div class="navbar">
  <a href="/" class="<%- path==='/' ? 'active': '' %>">Home</a>
  <a
    href="/admin/add-employee"
    class="<%- path==='/admin/add-employee' ? 'active': '' %>"
    >Add Employee</a
  >
</div>
