body {
  margin-top: 80px;
  background-color: rgb(236, 204, 144);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(223, 60, 60, 0.2);
  transition: 0.3s;
  width: 400px;
  background-color: rgb(151, 245, 57);
  display: inline-block;
  border-radius: 5px;
  border-color: red;
  margin-top: 4%;
  margin-left: 36%;
}

.container {
  padding: 3px 16px;
}

.button {
  align-content: center;
  margin-left: 41%;
  height: 40px;
  width: 250px;
}

button:hover {
  background-color: rgb(55, 169, 235);
}
