.form {
  margin-left: 25rem;
  justify-content: center;
  font-size: 25px;
}
.textbox {
  border: 2px solid green;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  width: 300px;
}

.button {
  margin-left: 15rem;
  color: red;
  border-radius: 5px;
  height: 30px;
  width: 70px;
}

#name {
  margin-left: 5.1rem;
}
#email {
  margin-left: 8rem;
}
#phone {
  margin-left: 2.3rem;
}
#city {
  margin-left: 9.1rem;
}
#dob {
  margin-left: 8.4rem;
}

h1 {
  text-align: center;
}

body {
  margin-top: 80px;
  margin-top: 80px;
  background-color: rgb(236, 204, 144);
}
